  
            .style49
            {
                background-color: #FFFFFF;
                color: #000000;
                font-family: "Monotype Corsiva";
            }
            .style50
            {
                border: 1px solid #000000;
                padding-left: 2px;
                padding-right: 2px;
                background-color: #FFFFFF;
                color: #000000;
                font-family: "Courier New", Courier, monospace;
            }
            .style102
            {
                border: 1px solid #000000;
                padding-left: 2px;
                padding-right: 2px;
                background-color: #000000;
                font-family: "Courier New", Courier, monospace;
                }
                .style103
            {
                color: #FFFFFF;
                width: 595px;
                height: 23px;
                position: absolute;
                left: 0px;
                top: 714px;
                font-family: Calibri;
                background-color: #000000;
            }
            .style104
            {
                font-size: large;
            }
            .style105
            {
                font-size: small;
            }
            .style200
            {
                border: 1px solid #000000;
                padding-left: 2px;
                padding-right: 2px;
                background-color: #FFFFFF;
                color: #000000;
                font-family: "Courier New", Courier, monospace;
                font-size: 45pt;
            }
            .style201
            {
                width: 98%;
                top: -65px;
                left: 15px;
                position: absolute;
                height: 635px;
                visibility:hidden;
                font-size: 45pt;
            }
             .style255
            {
                width: 98%;
                top: 1px;
                left: 1px;
                position: absolute;
                height: 707px;
                visibility:visible;
                font-size: 35pt;
                text-align: left;
}
            .style274
            {
                width: 495px;
                height: 731px;
                position: absolute;
                left: 16px;
                top: 6px;
               
                visibility: visible;
                
}
           .style274a 
           {
                visibility: hidden;
                width: 578px;
                top: 1px;
                left: 6px;
                position: absolute;
                height: 665px;
           }
          .styledump
        {
            visibility:hidden;
            font-size: 1pt;
            height: 0px;
            width: 0px;
            top:1px;
            left:1px;
            position:absolute;
        }
        .styledump2
        {
            visibility:visible;
            font-size: 20pt;
            height: 0px;
            width: 0px;
            top:108px;
            left:370px;
            position:absolute;
        }
        .stylehg
        {
            position:absolute;
            visibility:visible;
            left: 111px;
            top: 6px;
    font-size: 40pt;
    font-family: "Courier New", Courier, monospace;
}
        .stylehg2
        {
            position:absolute;
            visibility:hidden;
          
        }
        .stylehgscr
        {
            position:absolute;
            visibility:visible;
            left: 33px;
            top: 247px;
    font-size: 25pt;
    font-family: "Courier New", Courier, monospace;
    height: 347px;
    width: 538px;
}
        .stylehgscr2
        {
            position:absolute;
            visibility:hidden;
        }