<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nookdevs.notes"
          android:versionCode="5" android:versionName="0.5">

    <application android:icon="@drawable/select_notes" android:label="@string/app_name">

        <!-- top-level application activity... -->
        <activity android:name=".NookNotes" android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NookNotes" android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vnd.nookdevs.notes.note"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".NookNotes" android:label="@string/activity_note_view"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.nookdevs.notes.note"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity adding a note... -->
        <activity android:name=".activity.NoteAdd" android:label="@string/activity_note_add"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vnd.nookdevs.notes.note"/>
                <action android:name="android.intent.action.INSERT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity viewing/editing a note... -->
        <activity android:name=".activity.NoteView" android:label="@string/activity_note_view"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vnd.nookdevs.notes.item"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NoteView" android:label="@string/activity_note_view"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.nookdevs.notes.item"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity deleting a note... -->
        <activity android:name=".activity.NoteDelete" android:label="@string/activity_note_delete"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.nookdevs.notes.note"/>
                <action android:name="android.intent.action.DELETE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity adding an item to a note... -->
        <activity android:name=".activity.ItemAdd" android:label="@string/activity_item_add"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vnd.nookdevs.notes.item"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.nookdevs.notes.item"/>
                <action android:name="android.intent.action.INSERT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity editing an item of a note... -->
        <activity android:name=".activity.ItemEdit" android:label="@string/activity_item_edit"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.nookdevs.notes.item"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity deleting an item of a  note... -->
        <activity android:name=".activity.ItemDelete" android:label="@string/activity_item_delete"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.nookdevs.notes.item"/>
                <action android:name="android.intent.action.DELETE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity performing one of several list transformations on a note's items... -->
        <activity android:name=".activity.ItemsTransform"
                  android:label="@string/activity_items_transform"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vnd.nookdevs.notes.item"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activity for editing a note's title... -->
        <activity android:name=".activity.NoteEditTitle"
                  android:label="@string/activity_note_edit_title"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.nookdevs.notes.note"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- notes content provider... -->
        <provider android:name=".provider.NotesSQLite" android:label="@string/provider_notes"
                  android:authorities="com.nookdevs.provider.notes"
                  android:readPermission="com.nookdevs.notes.permission.READ_NOTES"
                  android:writePermission="com.nookdevs.notes.permission.WRITE_NOTES"/>
    </application>

    <!-- custom permissions... -->
    <permission-group android:name="com.nookdevs.notes.permission.NOTES"
                      android:label="@string/permission_group_notes_label"
                      android:description="@string/permission_group_notes_desc"/>
    <permission android:name="com.nookdevs.notes.permission.READ_NOTES"
                android:protectionLevel="dangerous"
                android:label="@string/permission_read_notes_label"
                android:description="@string/permission_read_notes_desc"
                android:permissionGroup="com.nookdevs.notes.permission.NOTES"/>
    <permission android:name="com.nookdevs.notes.permission.WRITE_NOTES"
                android:protectionLevel="dangerous"
                android:label="@string/permission_write_notes_label"
                android:description="@string/permission_write_notes_desc"
                android:permissionGroup="com.nookdevs.notes.permission.NOTES"/>

    <!-- requirements... -->
    <uses-sdk android:minSdkVersion="3"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.nookdevs.notes.permission.READ_NOTES"/>
    <uses-permission android:name="com.nookdevs.notes.permission.WRITE_NOTES"/>

</manifest>
